:root {
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --background-color: #f4f4f4;
  --container-background: #fff;
  --table-background: #f9f9f9;
  --border-color: #ccc;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --danger-color: #ff6666;
  --danger-hover-color: #ff3333;
}
/* Body and global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.container {
  width: 94%;
  margin: 0 5% 0px 2%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}
table {
  /* display: flex; */
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  /* display: flex; */
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 1320px) {
  .container {
    width: 94%;
    margin: 5px 5px 5px 10px;
  }
  .container > table {
    display: flex;
    flex-wrap: wrap;
  }
  th,
  td {
    /* display: flex;
    flex-wrap: wrap; */
  }
  td {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 85vw;
    margin: 5px 5px 5px 10px;
  }
  .container > table {
    display: flex;
    flex-wrap: wrap;
  }
  th,
  td {
    display: flex;
    flex-wrap: wrap;
  }
  td {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .month-year {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .num-days {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .expected-drr {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .last-updated {
    height: 42px;
    flex-direction: row;
    padding: 0;
    margin: 0vh 2px;
  }
}
@media (max-width: 400px) {
  .container {
    display: contents;
    margin: 5px 5px 5px 5px;
  }
  .container > table {
    display: flex;
    flex-wrap: wrap;
  }
  th,
  td {
    display: flex;
    flex-wrap: wrap;
  }
  td {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .month-year {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .num-days {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .expected-drr {
    height: 20px;
    margin: 2px 0px -4px 2px;
  }
  .last-updated {
    height: 42px;
    flex-direction: row;
    padding: 0;
    margin: 0vh 2px;
  }
}
/* Specific styles for the "Add New" button */
#add-new-button {
  align-items: center;
  background-color: #2196f3;
  height: 2vw;
  width: 8vw;
  text-align: center;
  display: flex;
  margin: 5px 0px 10px 12px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s;
}
#add-new-button:hover {
  background-color: #1976d2;
}
/* Styles for the "star-row" button */
.star-row {
  display: flex;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  transition: background-color 0.3s ease 0s, transform 0.3s ease 0s,
    box-shadow 0.3s ease 0s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 0px;
  min-width: 29px;
  align-items: center;
  justify-content: center;
  white-space: normal;
  font-weight: 100;
  text-align: center;
  padding: 15px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 215, 96);
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  transform: scale(1);
}
.star-row:hover {
  transform: scale(1.04);
  background-color: #21e065;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.star-row i {
  margin-right: 5px;
}
/* Styles for the "save-row" button */
.save-row {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
  width: 6.4vw;
  margin: 5px 0px 5px 55px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
}
.save-row:hover {
  transform: scale(1.04);
  background-color: var(--secondary-color);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.save-row i {
  margin-right: 5px;
}
/* Styles for the "cancel-row" button */
.cancel-row {
  background-color: var(--danger-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: 2px;
  cursor: pointer;
  width: 6.4vw;
  margin: 5px 0px 5px 55px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 14px;
}
.cancel-row:hover {
  transform: scale(1.04);
  background-color: #ff5555;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.cancel-row i {
  margin-right: 5px;
}
#data-rows {
  margin: 0;
  padding: 0;
}

@media (max-width: 1320px) {
  .save-row {
    width: 7vw;
    margin-right: -35px;
    margin-left: 0;
  }
  .cancel-row {
    width: 7vw;
    margin-left: 0px;
  }
  #add-new-button {
    display: flex;
    height: 35px;
    font-size: 15px;
    width: 70px;
    border: none;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
  }
}
@media (max-width: 600px) {
  #add-new-button {
    display: flex;
    height: 35px;
    font-size: 15px;
    width: 70px;
    border: none;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;
  }
  #data-rows {
    margin: -4px 0px 0px 10px;
  }

  .save-row {
    width: 20vw;
    margin-right: 10px;
    margin-left: 0;
  }
  .cancel-row {
    width: 20vw;
    margin-right: 0px;
  }
}
@media (max-width: 400px) {
  #data-rows {
    margin: -4px 0px 0px 0px;
  }
  .save-row {
    width: 22vw;
    margin-right: 2%;
    margin-left: 0;
  }
  .cancel-row {
    width: 22vw;
    margin-left: 10px;
  }
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
  .star-row {
    font-size: 10px;
    padding: 10px 8px;
  }
}
/* Example: Make the "star-row" button smaller on smaller screens */
@media (max-width: 600px) {
  .star-row {
    font-size: 10px;
    padding: 10px 8px;
  }
}
/* Styles for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .star-row {
    font-size: 10px;
    padding: 10px 8px;
  }
}

/* Styles for screens with a maximum width of 400px */
@media (max-width: 400px) {
  .star-row {
    font-size: 12px;
    padding: 12px 12px;
  }

  .lead-count {
    font-size: 12px;
    padding: 4px;
  }
}
